<div class="main-container">
  <div
    class="d-flex flex-row justify-content-between align-items-center header"
  >
    <h2><span class="last-path">خانه / </span>محصولات</h2>

    <button
      mat-flat-button
      color="primary"
      [routerLink]="['/', 'products', 'new']"
    >
      افزدن محصول
    </button>
  </div>

  <div class="d-flex flex-column w-100 table">
    <div
      class="table-header d-flex flex-row justify-content-between align-items-center"
    >
      <p class="font-weight-bold">نام محصول</p>
      <div class="search-input d-flex flex-row">
        <input
          type="text"
          placeholder="جست‌وجو..."
          (input)="search($event)"
          [(ngModel)]="this.searchExp"
        />
        <mat-icon>search</mat-icon>
      </div>
      <p style="min-width: 145px; text-align: center" class="font-weight-bold">
        عملیات
      </p>
    </div>
    <div
      class="item d-flex flex-row justify-content-between align-items-center"
      *ngFor="let product of products | async"
    >
      <div class="d-flex flex-row align-items-center">
        <img [src]="product.thumbnail" alt="" class="thumbnail" />
        <p class="mr-3">{{ product.name }}</p>
      </div>
      <div>
        <button mat-flat-button class="ml-2 edit">ویرایش</button>
        <button mat-flat-button color="warn" (click)="delete(product._id)">
          حذف
        </button>
      </div>
    </div>
    <mat-paginator
      [length]="count | async"
      [pageSize]="limit | async"
      [pageSizeOptions]="[10]"
      aria-label="Select page"
      (page)="pageEvent = updateData($event)"
      class="paginator"
    >
    </mat-paginator>
  </div>
</div>
