<div class="d-flex justify-content-center align-items-center main-container">

  <form class="d-flex flex-column main-box" [formGroup]="form" (ngSubmit)="formSubmit.next()">
    <div class="d-flex flex-column box-description">
      <h1 class="mbd-header">به موبی‌دیک خوش آمدید</h1>
      <p class="mbd-text">برای ورود، اطلاعات کاربری خود را وارد کنید.</p>
    </div>
    <mat-form-field class="email-input" appearance="outline">
      <mat-label class="email-label"> نام‌کاربری </mat-label>
      <input type="username" matInput formControlName="username" />
    </mat-form-field>
    <mat-form-field class="password-input" appearance="outline">
      <mat-label class="email-label"> رمز عبور</mat-label>
      <input type="password" minlength="8" matInput formControlName="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" class="mbd-button w-100" type="submit"
      [class.btn_loading]="form.disabled">
      ورود
    </button>
    <mat-progress-bar [class.invisible]="!form.disabled" [class.visible]="form.disabled" mode="query">
    </mat-progress-bar>

    <mat-error *ngIf="error" class="mat-caption" class="text-center mt-3">
      {{ error }}
    </mat-error>
  </form>
</div>