<h2 mat-dialog-title class="d-flex justify-content-start">محتویات جدید</h2>

<form
  mat-dialog-content
  class="d-flex flex-column inputs mt-3"
  [formGroup]="form"
>
  <mat-form-field appearance="fill">
    <mat-label>نام</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>قیمت (تومان)</mat-label>
    <input matInput formControlName="price" />
  </mat-form-field>
</form>

<div mat-dialog-actions class="d-flex btns">
  <div class="button-container">
    <div class="spinner-container" *ngIf="form.disabled">
      <mat-spinner diameter="24"></mat-spinner>
    </div>
    <button
      *ngIf="!this.patch"
      mat-flat-button
      color="primary"
      [disabled]="form.disabled"
      (click)="create()"
    >
      اضافه کردن
    </button>
    <button
      *ngIf="this.patch"
      mat-flat-button
      color="primary"
      [disabled]="form.disabled"
      (click)="create()"
    >
      ویرایش
    </button>
  </div>

  <button mat-flat-button class="mbd-button" type="button" mat-dialog-close>
    لغو
  </button>
</div>
