<div class="w-100 d-flex align-items-center box justify-content-end">
  <button
    mat-mini-fab
    class="d-flex align-items-center justify-content-center headset"
  >
    <mat-icon class="icon">headset_mic</mat-icon>
  </button>
  <div class="d-flex align-items-center justify-content-center branch">
    <div class="d-flex align-items-center justify-content-center home">
      <mat-icon>home</mat-icon>
    </div>
    <p class="branch-p">
      {{
        (getBranch() | async) ? (getBranch() | async).name : "شعبه‌ای ندارید"
      }}
    </p>
  </div>
  <button
    mat-mini-fab
    class="d-flex align-items-center justify-content-center logout"
  >
    <mat-icon class="icon">logout</mat-icon>
  </button>
</div>
