<div class="d-flex align-items-center box">
  <button mat-mini-fab class="d-flex align-items-center justify-content-center headset">
    <mat-icon class="icon">headset_mic</mat-icon>
  </button>
  <div class="d-flex align-items-center justify-content-center branch">
    <div class="d-flex align-items-center justify-content-center home">
      <mat-icon>home</mat-icon>
    </div>
    <p class="branch-p">شعبه 1</p>
    <button class="d-flex align-items-center justify-content-center arrow">
      <mat-icon class="icon">keyboard_arrow_down</mat-icon>
    </button>
  </div>
  <div class="avatar">
    <img src="../../../../assets/toolbar-desktop/avatar.png" />
  </div>
</div>