<div
  class="d-flex flex-column align-items-center right-frame flex-fill"
  [class.open]="this.isMenuOpen"
>
  <div
    class="d-flex justify-content-center align-items-center nav-item open-btn"
    (click)="openMenu()"
  >
    <mat-icon [class.invisible]="this.isMenuOpen">menu</mat-icon>
    <mat-icon [class.invisible]="!this.isMenuOpen">close</mat-icon>
  </div>
  <div class="d-flex flex-column menu">
    <div
      class="d-flex justify-content-center align-items-center nav-item"
      (click)="onNavItemClicked('dashboard')"
      [class.focused]="itemClicked == 'dashboard'"
      routerLinkActive="focused"
    >
      <mat-icon>home</mat-icon>
      <p *ngIf="isMenuOpen">خانه</p>
    </div>
    <div
      class="d-flex justify-content-center align-items-center nav-item"
      (click)="onNavItemClicked('branches')"
      routerLinkActive="focused"
      [class.focused]="itemClicked == 'branches'"
      *ngIf="hasSuperAccess()"
    >
      <mat-icon>place</mat-icon>
      <p *ngIf="isMenuOpen">شعبه ها</p>
    </div>
    <div
      class="d-flex justify-content-center align-items-center nav-item"
      (click)="onNavItemClicked('categories')"
      routerLinkActive="focused"
      [class.focused]="itemClicked == 'categories'"
    >
      <mat-icon>layers</mat-icon>
      <p *ngIf="isMenuOpen">دسته‌بندی‌ ها</p>
    </div>

    <div
      class="d-flex justify-content-center align-items-center nav-item"
      (click)="onNavItemClicked('ingredients')"
      routerLinkActive="focused"
      [class.focused]="itemClicked == 'ingredients'"
    >
      <mat-icon>category</mat-icon>
      <p *ngIf="isMenuOpen">محتویات</p>
    </div>

    <div
      class="d-flex justify-content-center align-items-center nav-item"
      (click)="onNavItemClicked('products')"
      routerLinkActive="focused"
      [class.focused]="itemClicked == 'products'"
    >
      <mat-icon>fastfood</mat-icon>
      <p *ngIf="isMenuOpen">محصولات</p>
    </div>

    <div
      class="d-flex justify-content-center align-items-center nav-item"
      (click)="onNavItemClicked('orders')"
      [class.focused]="itemClicked == 'orders'"
    >
      <mat-icon>ballot</mat-icon>
      <p *ngIf="isMenuOpen">سفارشات</p>
    </div>

    <div
      class="d-flex justify-content-center align-items-center nav-item"
      (click)="onNavItemClicked('management')"
      [class.focused]="itemClicked == 'management'"
    >
      <mat-icon>group</mat-icon>
      <p *ngIf="isMenuOpen">مدیریت مشتری</p>
    </div>

    <div
      class="d-flex justify-content-center align-items-center nav-item"
      (click)="onNavItemClicked('settings')"
      [class.focused]="itemClicked == 'settings'"
    >
      <mat-icon>settings</mat-icon>
      <p *ngIf="isMenuOpen">تنظیمات</p>
    </div>
  </div>
</div>
