<div class="d-flex justify-content-between align-items-center staff-item">
  <div class="d-flex align-items-center">
    <div class="img">
      <img src="../../../../assets/staff/images 2.svg" alt="avatar" />
    </div>

    <div class="d-flex flex-column justify-content-center info-box">
      <p class="username">نام کاربری</p>
      <p class="phone">09112345678</p>
    </div>
  </div>

  <div class="access-point d-flex justify-content-center align-items-center">
    نام سطح دسترسی
  </div>

  <button mat-flat-button class="justify_content-center align-items-center mbd-button">
    مدیریت
  </button>
</div>