@import "../../../ui-kit/styles/themes/variables.scss";
.main-container {
  background: var(--mbd-layer1);
  border-radius: 8px;
}

.menu {
  padding: 16px;
  background-color: var(--mbd-layer2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.mobydick {
  width: 263px;
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  color: var(--mbd-text);
  margin: 0 12px 0 12px;
}

.avatar {
  margin-right: auto;
}
